#header {
  background-image: url("https://assets.yzjoycare.com/img/hero2.webp");
}

#header-promo {
  /* margin: 0 0; */
  padding: 200px 0 320px 0;
}

#company-product {
  margin-top: -230px;
}

#company-product-main {
  background-image: url("https://assets.yzjoycare.com/img/3.webp");
}

#promo4-1 {
  background-image: url("https://assets.yzjoycare.com/img/12.webp");
}

#promo4-2 {
  background-image: url("https://assets.yzjoycare.com/img/13.webp");
}

#promo4-3 {
  background-image: url("https://assets.yzjoycare.com/img/14.webp");
}

/* #promo5 {
  background-image: url("~assets/img/15.jpg");
} */

#foot {
  background-image: url("https://assets.yzjoycare.com/img/laptop-desk-computer-writing-screen-man-653052-pxhere-com-1.webp");
}
