#header {
  background-image: url("~assets/img/hero2.jpg");
}

#header-promo {
  /* margin: 0 0; */
  padding: 200px 0 320px 0;
}

#company-product {
  margin-top: -230px;
}

#company-product-main {
  background-image: url("~assets/img/3.jpg");
}
