#header {
  background-image: url("~assets/img/hero2.jpg");
}

#header-promo {
  /* margin: 0 0; */
  padding: 200px 0 320px 0;
}

#company-product {
  margin-top: -230px;
}

#company-product-main {
  background-image: url("~assets/img/3.jpg");
}

#promo4-1 {
  background-image: url("~assets/img/12.jpg");
}

#promo4-2 {
  background-image: url("~assets/img/13.jpg");
}

#promo4-3 {
  background-image: url("~assets/img/14.jpg");
}

#promo5 {
  background-image: url("~assets/img/15.jpg");
}

#foot {
  background-image: url("~assets/img/laptop-desk-computer-writing-screen-man-653052-pxhere-com-1.jpg");
}